<h3>Double click the image below to see hidden text </h3>
<br>
<img (dblclick)="onHide()"src ="https://upload.wikimedia.org/wikipedia/commons/3/34/Red_star.svg"height="42"width="42">
<br>
<h3 [hidden]= hide >Look at the star!</h3>
<br>
<button (click)="onButtonClick()">press me</button>
<br>
<h3>the number of times the button has been pressed:{{counter}}</h3>
<br>
<button (dblclick)="onButtonClick2()">double press me</button>
<br>
<h3>the number of times the  double button has been pressed:{{counter2}}</h3>
<br>
<app-list></app-list>
